*.root
*.d
*.o
*.so
*~
*.swp
*.swo
\#*\#

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

dict.*
NpolClass.*
dEoverE1.cxx
dEoverE.cxx
TaggedParticles.cxx

build/
